<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imagens/face.JPG">
      </ion-avatar>
      <h2 class="estilo-usuario" >{{ usuario }}</h2> <!-- Aquela função em tab1.page corresponde a este recurso. -->
      <p class="estilo-data">{{ data }}</p>
    </ion-item>

    <img src="assets/imagens/cat.JPG">

    <ion-card-content>
      <ion-icon name="pin"> (Botar aqui a localização pelo google maps) </ion-icon>
      <p class="estilo-texto"> {{ texto }} </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>10 curtidas</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button ion-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>10 comentários</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          Há 10h
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>